@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,200;1,100&display=swap');

/* Navegation */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Imagem{
    margin: 0;
    display: flex;
    flex-direction: row;
}

#homeIMG{
   width: 100%;
}


.imagem img {
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: black;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.navbar-left {
    display: flex;
    color: white;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-button li {
    padding: 37.5px;
    font-size: 20px;
    cursor: pointer;
}

.navbar-button li:hover {
    background-color: #333030;
}

.search-content {
    background-color: #333030;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-content input {
    border: none;
    outline: none;
    padding: 6px;
}

.search-content img{
    width: 20px;
    margin-right: 4px;
}

/* End Navegation */

/* Main */

.Font-main{
    font-family: IBM Plex Serif;
}

.maint-content-tittle{
    background-color: #4e4848;
    align-items: center;
}

.main-content-row{
    background-color: red;
    display: flex;

}