* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Imagem{
    margin: 0;
    display: flex;
    flex-direction: row;
}

#homeIMG{
   width: 100%;
}


.imagem img {
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    height: 100px;
    background-color: black;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.navbar-left {
    display: flex;
    color: white;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar-button li {
    padding: 37.5px;
    font-size: 20px;
    cursor: pointer;
}

.navbar-button li:hover {
    background-color: #4e4848;
}

.search-content img{
    max-width: 100%;

}